
#ignore thumbnails created by windows
Thumbs.db
gen/
ant.properties
local.properties
key/*
/.settings/
buildapk.bat
app/build/
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids
.gradle/
build
.idea/
*.iml
