<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innodroid.mongobrowser"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme" >
        <activity android:name=".ConnectionListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ConnectionDetailActivity" android:label="@string/title_connection_detail" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ConnectionListActivity" />
        </activity>
        
        <activity android:name=".CollectionListActivity" android:label="@string/title_collection_list" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ConnectionListActivity" />
        </activity>
        
        <activity android:name=".DocumentListActivity" android:label="@string/title_document_list" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".CollectionListActivity" />
        </activity>
        
        <activity android:name=".PreferencesActivity" android:label="@string/title_preferences" >
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ConnectionListActivity" />
        </activity>
        
        <provider android:name=".data.MongoBrowserProvider" android:authorities="com.innodroid.provider.mongobrowser" android:exported="false" />
	</application>
</manifest>
